.mml-actorDetails-row-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
    border: 2px solid black;
    box-shadow: 5px 10px 20px black;
    background-color: rgb(61, 49, 49);
}

.mml-actorDetails-show-cover{
    object-fit:cover;
    width: 300px;
    height: 500px;
}

.mml-up-del{
    display: flex;
    padding: 30px;
    width: 500px;
    justify-content: space-around;
}

.mml-button-up-del{
    width:200px;
    text-align: center;
    height:50px;
    border:2px solid black;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: rgb(40, 38, 43);
    box-shadow: 5px 10px 5px black;
    opacity: 0.7;
    border-radius: 20px;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
.mml-button-up-del:hover{
    opacity: 1;
    background-color: rgb(61, 49, 49);
}
.mml-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.mml-actorDetails-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.mml-actorDetails-link-title{
    font-size: 45px;
    font-weight: bold;
}

.mml-actorDetails-link{
    font-size: 12px;
}