.mml-banner {
    color: white;
    text-align: center;
    padding: 5px;
    background:linear-gradient(black,rgb(27, 26, 26));
    display: flex;
    border: 5px solid black;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    box-shadow: 5px 10px 5px black;
}

.mml-banner-link-choice{
    margin-left: 50px;
    list-style: none;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

.mml-banner-navbar{
    width: 80%;
}

.mml-logo{
    height: 27px;
	width: 133px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}