.mml-movielist-movieItem-container{
	margin-top: 20px;
    width: 50vw;
}

.mml-moviesList-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.mml-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}