  
.mml-film-item-cover {
	height: 200;
	width: 200px;
	object-fit: contain;
	border-radius: 20px;
}

.mml-film-item {
	margin: 10px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	text-transform: capitalize;
}