.mml-movielist-movieItem-container{
	margin-top: 20px;
    width: 50vw;
}

.mml-moviesList-container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.mml-movieList-show-container{
	width: 75vw;
    height: 65vh;
    border-radius: 20px;
    box-shadow: 5px 10px 20px black;
}

.mml-movieList-show-cover {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}