.mml-movie-item-cover {
	padding: 40px;
    object-fit: cover;
	height: 400px;
	width: 300px;
    transition: all 0.5s;

}

.mml-movie-item-cover:hover{
    transform: scale(1.1);
}

.mml-row-item{
    margin-top: 40px;
    padding: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
    justify-content: space-around;
	flex-wrap: wrap;
}

.mml-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
