.mml-detailMovie-show-container{
    width: 25vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 5px 10px 20px black;
}

.mml-detailMovie-show-cover {
    /* object-fit:none; */
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.mml-detailMovie-container{
    display: flex;
    flex-direction: row;
}