.mml-detailMovie-show-container{
    border-radius: 20px;
    box-shadow: 5px 10px 20px black;
    margin-left: 30px;
}

.mml-detailMovie-show-cover {
    object-fit:cover;
    width: 300px;
    height: 500px;
    border-radius: 20px;
}
.mml-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}
.mml-detailMovie-container{
    display: flex;
    flex-direction: row;
}

.mml-movieDetails-link-title{
    font-size: 45px;
    font-weight: bold;
}

.mml-movieDetails-link{
    font-size: 12px;
}

.mml-movieDetails-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 200px;
    margin-left: 30px;
    margin-top: 80px;
    margin-bottom: 50px;
}

.mml-movieDetails-trailer{
    margin-left: 20px;
    width: 900px;
    height: 500px;
    box-shadow: 5px 10px 20px black;
}

.mml-movieDetails-link-synopsis{
    font-size: 20px;
}

.mml-movieDetails-row-item{
    margin-top: 40px;

	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

.mml-movieDetails-container-badge{
    border: 2px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
    margin:30px;
    box-shadow: 5px 10px 20px black;
    transition: all 0.5s;
}

.mml-movieDetails-item-cover {
    object-fit: cover;
	height: 300px;
	width: 200px;
}