.mml-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:650px;
    height:550px;
    background-color: rgb(56, 48, 48);
    border: 2px solid black;
    box-shadow: 5px 10px 5px black;
    opacity: 0.95;
    transition: all 0.5s;
}

.mml-register-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: blueviolet; */
}

.mml-register-champs{
    width:400px;
    height:50px;
    color: white;
    text-align: center;
    box-shadow: 5px 10px 5px black;
    margin: 10px;
    background-color: rgb(27, 26, 26);
    border:1px solid black;
}

.mml-register-champs:focus{

    outline: 3px solid rgb(92, 56, 177);
}

.mml-register-label{
    color: white;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
    align-self: flex-start;
}

.mml-register{
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    width:400px;
    height:50px;
}

.mml-signIn{
    color:white;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.mml-loading-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
}

.mml-login-submit{
    margin-top: 30px;
    width:400px;
    height:50px;
    border:2px solid black;
    color: white;
    font-size: 22px;
    font-weight: bold;
    background-color: rgb(92, 56, 177);
    box-shadow: 5px 10px 5px black;
}
